html,body{
  height:100%;
  padding:0px;
  margin:0px;
}

main{
  height:100%;
  display:flex;
    align-items: center;
  flex-direction:column;
}

.color{
  background-color:violet;
  width:100%;
  height:calc(100% - 60px);
  max-width:800px;
  max-height:800px;
  text-align:center;
  position:relative;
  transition:background-color 0.5s;
}

.title{
  display:block;
  font-size:30pt;
  font-family:arial;
}

.title:first-letter{
  text-transform: uppercase;
}